@import '../styles/colors.scss';

.button {
  display: block; 
  background-color: $primary-color; 
  color: $text-color;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 240px; 
  padding: 2rem 0; 
}

.button:hover {
  background-color: darken($primary-color, 10%);
}
