// Import geral para as cores utilizadas

$primary-color: #6a0dad;
$secondary-color: #4b0082;
$title-color: #36005c;
$text-color: #ffffff;
$border-color: #e0e0e0;
$input-color: #ddd;
$error-color: #e74c3c;
$success-color: #2ecc71;

