@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(59, 2, 77);
  font-size: 3rem; 
  margin-top: 0; /* Remove margem superior do h1 */
  padding-top: 20px; /* Adiciona um pouco de padding no topo para posicionar melhor */
  padding: 20px;
  font-family: cursive;
  text-decoration: double underline;
  text-underline-offset: 5px; /* Ajusta a distância entre o sublinhado e o texto */
}