@import '../styles/colors.scss';

body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: $title-color;
  font-size: 3rem; 
  margin-top: 0; 
  padding-top: 20px; 
  padding: 20px;
  font-family: cursive;
  text-decoration: double underline;
  text-underline-offset: 5px; 
}