.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/2222293-ilustracao-em-de-fundo-abstrato-de-bola-de-futebol-em-chamas-vetor.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin-top: 4rem; 
  background-color: rgba(255, 255, 255, 0.7); 
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.buttonContainer > * {
  flex: 1 1 calc(50% - 20px); 
  max-width: 400px; 
}
