@import '../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/2222293-ilustracao-em-de-fundo-abstrato-de-bola-de-futebol-em-chamas-vetor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 1;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 50;
  border-bottom: white solid 1px;
}

.tableTitle {
  color: $text-color;
  font-size: 2rem;
  text-align: left;
  margin: 0;
}

.createPlayerButton {
  background-color: $text-color;
  color: $primary-color;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
  position: relative;
  top: 5px;
}

.createPlayerButton:hover {
  background-color: darken($text-color, 10%);
}

.table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: $primary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 50;
}

.tableHeader {
  background-color: $primary-color;
  color: $text-color;

  th {
    font-weight: bold;
    border-bottom: 2px solid $primary-color;
    padding: 15px;
    text-align: center;
    font-size: 20px;
  }

  .tableThActions {
    text-align: center; 
  }
}

.tableBody tr {
  transition: background-color 0.3s ease;
  background-color: #ffffff;

  &:nth-child(even) {
    background-color: #f3f3f3;
  }

  &:hover {
    background-color: #e4e2e2;
  }

  td {
    padding: 15px;
    text-align: center;
    font-size: 20px;
  }
}

.link {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

.error {
  color: $error-color;
  font-weight: bold;
  text-align: center;
}


// Estilo para ícones 
.icon {
  color: $primary-color;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: darken($primary-color, 15%);
  }
}




// ################################################################ //




// Modal
.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background-color: $text-color;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
  z-index: 101; /* Garante que o modal esteja acima da sobreposição */
}

.modalTitle {
  color: $title-color;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid $primary-color;
  padding-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-weight: bold;
  color: $primary-color;
  font-size: 16px;
}

.input {
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.saveButton {
  background-color: $primary-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%; /* Ajusta para a largura do botão */
}

.saveButton:hover {
  background-color: darken($primary-color, 10%);
}

.cancelButton {
  background-color: $error-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%; /* Ajusta para a largura do botão */
}

.cancelButton:hover {
  background-color: darken($error-color, 10%);
}




// ################################################################ //




// Animação de Loading de tela..
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.loadingContainer p {
  margin-top: 10px;
  font-size: 18px;
  color: #00bfff;
  font-weight: bold;
}



// ################################################################ //



// Erro caso o usuário não consiga acessar o servidor
.error {
  z-index: 50;
  color: white;
  background-color: #d9534f; // Cor de fundo para destacar a mensagem de erro
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  margin: 1rem;
}
