// Definição das cores
$primary-color: #6a0dad;
$secondary-color: #4b0082;
$title-color: rgb(59, 2, 77);
$text-color: #ffffff;
$error-color: #e74c3c;
$success-color: #2ecc71;

// Container principal
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/2222293-ilustracao-em-de-fundo-abstrato-de-bola-de-futebol-em-chamas-vetor.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

// Card do time
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px;
  position: relative;
  font-weight: 800;
  z-index: 50;
}

// Adiciona o estilo para o botão de voltar
.backButton {
  color: $primary-color;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 1rem; 
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.backButton:hover {
  color: darken($primary-color, 10%);
}
  
// Título do time
.title {
  font-size: 3rem;
  color: $secondary-color;
  margin-bottom: 1rem;
}

// Informações do time
.info {
  margin-bottom: 2rem;
  p {
    font-size: 1.125rem;
    strong {
      color: $secondary-color;
    }
  }
}

// Estilo da tabela
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: $text-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;

  th {
    background-color: $primary-color;
    color: #ffffff;
    padding: 10px;
    text-align: center
  }

  td {
    padding: 10px;
    color: #000000;
    text-align: center;
  }

  .link {
    color: $primary-color;
    text-decoration: none;
    
  }

  .tableHeader {
    background-color: $primary-color;
    color: $text-color;
  }

  .tableBody {
    tr {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }
    }
  }

  .void {
    text-align: center;
    color: $error-color;
    font-size: 1.25rem;
    margin: 20px;
  }
}
