// Definição das cores
$primary-color: #6a0dad;
$secondary-color: #4b0082;
$title-color: rgb(59, 2, 77);
$text-color: #ffffff;
$error-color: #e74c3c;
$success-color: #2ecc71;


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/2222293-ilustracao-em-de-fundo-abstrato-de-bola-de-futebol-em-chamas-vetor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); /* Adiciona uma camada semi-transparente */
  z-index: 1;
}


.title {
  color: $title-color;
  font-size: 2.3rem;
  margin-bottom: 20px;
  margin-top: 100px;
  text-align: center;
  z-index: 50;
  text-decoration: double underline;
  text-underline-offset: 5px; /* Ajusta a distância entre o sublinhado e o texto */
}

.table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 50;
}

.tableHeader {
  background-color: $primary-color;
  color: #ffffff;
}

.tableHeader th, .tableBody td {
  padding: 15px;
  text-align: left;
  font-size: 20px;
}

.tableHeader th {
  font-weight: bold;
}

.tableBody tr {
  transition: background-color 0.3s ease;
  background-color: #ffffff;
}

.tableBody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.tableBody tr:hover {
  background-color: #e4e2e2;
}

.link {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
  left: -10px;
  justify-content: center;
  font-size: 1.5rem; // Ajuste o tamanho do ícone
  color: $primary-color; // Cor do ícone
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: darken($primary-color, 10%); // Cor do ícone ao passar o mouse
}

.noTeams {
  text-align: center;
  color: #666;
  font-style: italic;
  padding: 20px;
}



/* MODAL */

.modal {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-weight: bold;
  color: $secondary-color;
  font-size: 16px;
  margin-bottom: 5px;
}

.input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: $primary-color;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saveButton,
.cancelButton {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.saveButton {
  background-color: $primary-color;
  color: #fff;
}

.cancelButton {
  background-color: $error-color;
  color: #fff;
}

.saveButton:hover {
  background-color: darken($primary-color, 10%);
}

.cancelButton:hover {
  background-color: darken($error-color, 10%);
}
